### VSCODE

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


### SUBLIME
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace


### MACOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### SSL
*.crt
*.csr
*.key

### Production
DockerfileProd
key.json
run_prod_docker.sh
prod/
turnserver.conf

### Ignore Goland files
.idea/

### Ignore build artifact directory
bin/
.coverage.out
_output/
./build
release/
vendor/

.dockerignore

### Libretro
fbneo/
hi/
nvram/
*.mcd
