---
---

@import "{{ site.theme }}";

.row {
  display: flex;
}

.column {
  flex: 50.0%;
  padding: 5px;
}

.player-wrapper {
    text-align: center;
    display: block;
    padding-top: 56.25%;
    position: relative;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

