# ------------------------------------------------------------------------
#  Publish Docker image from the stable snapshot into Github repository
# ------------------------------------------------------------------------

name: publish-stable

on:
  push:
    tags:
      - 'v*'

jobs:
  docker-publish-stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - run: echo "V=$(./scripts/version.sh)" >> $GITHUB_ENV

      - uses: docker/build-push-action@v1
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tags: latest,${{ env.TAG }}
          build_args: VERSION=${{ env.V }}

          registry: docker.pkg.github.com
          repository: ${{ github.REPOSITORY }}/cloud-game
